#cardcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
#cardcontainer > div {
  width: 21%;
  margin-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 3px;
}
#cardcontainer img {
  width: 100%;
}
#cardcontainer p {
  font-size: 10px;
}
#cardcontainer h5 {
  font-size: 20px;
}
#cardcontainer h6 {
  font-size: 12px;
}
#cardcontainer button {
  text-align: center;
  background-color: #e42529;
  padding: 5px 15px;
  font-weight: 700;
  color: white;
  width: 100%;
  border: 0px solid #e42529;
  border-radius: 3px;
  margin-top: 8px;
}

#cardcontainer button:hover {
  background-color: #da0306;
}

#cardcontainer #minus,#cardcontainer #plus{
  background-color: #fb6407;
  width: 45%;
font-size: 5px;
padding: 4px 6px;
margin-left: 3%;
}
.main{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content:right;
  margin: auto;
}
.main input{
  height: 35px;
  width: 8rem;
  outline:white;
  border-radius: 4px;
  margin-top: 4px;
  color: gray;
  font-size: 16px;
  text-align:justify;
}
#promobtn{
  padding: 0.2rem 0.5rem;
  background-color:white;
  border-radius: 8px;
  color: black;
  font-weight: 700;
  border: 1px solid black;
  text-align: center;
  margin: auto;
  font-size: 10px
}

#promobtn:hover{
  color: white;
  background-color: black;
  border: 1px solid white;
}