* {
  margin: 0;
}
/* header seaction css */

/* nav 1st part  */

header {
  margin: 0;
  background-color: #e42529;
  color: white;
}
#nav1 {
  display: flex;
  justify-content: end;
  font-size: 17px;
  margin-right: 15px;
  font-weight: 700;
}
#nav1 > div {
  padding: 5px;
}
#nav1 .fa-map-marker {
  font-size: 22px;
}

/* nav 2nd part */

.sticky {
  position: fixed;
  background-color: #e42529;
  width: 100%;
  top: 0;
  z-index: 1;
}

#nav2 {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: space-between;
}

#pincartlogin {
  display: flex;
  margin-right: 15px;
  font-size: 17px;
  font-weight: 700;
}

#brandlogo {
  margin-left: 2rem;
}
#brandlogo img {
  width: 50%;
  padding-bottom: 0.7rem;
}
#searchbar {
  background-color: white;
  height: 2.1rem;
  border-radius: 25px;
  margin-right: 7rem;
}
#searchbar button {
  background-color: white;
  border: 0px solid white;
  margin-right: 1rem;
  color: gray;
}
#searchbar input {
  width: 27rem;
  padding: 8px 2px;
  margin-left: 1rem;
  border: 0;
  outline: none;
  font-size: 18px;
}

#pincartlogin div {
  padding: 5px;
}

/* BLUE NAV BAR */

#navblue {
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  font-weight: 700;
  background-color: #003380;
  padding: 10px 0;
  margin-bottom: 0;
}

/* top big banner */

#topbigbanner {
  width: 100%;
}
#topbigbanner img {
  width: 100%;
}

/* top crausal */
#crousal {
  width: 100%;
}
#crousal img {
  width: 100%;
}

/* crausal slide show top */
#crouselbtnpre,
#crouselbtnnext,
#crouselbtnpre1,
#crouselbtnnext1 {
  border: 1px solid black;
  height: 5rem;
  width: 1.8rem;
  background-color: white;
  margin: auto;
  color: black;
  border: 0;
  z-index: 0;
}

/* crausal product top */

#crousalproduct p {
  color: #003380;
  font-size: 20px;
  height: 2.6em;
  line-height: 1.4em;
  margin-right: 20px;
  overflow: hidden;
}
#crousalproduct img {
  width: 100%;
  margin-bottom: 1rem;
}
#crousalproduct img:hover {
  width: 106%;
}
#crousalproduct h6 {
  font-size: 15px;
  margin: 4px;
}
#crousalproduct h5 {
  font-size: 20px;
  font-weight: 700;
  margin: 4px;
}
#procra1 {
  display: flex;
  padding: 1rem 3rem;
  justify-content: space-between;
  width: 100%;
}
#procra1 > div {
  padding: 0 1rem;
  width: 15%;
}

#procra2 {
  display: flex;
  padding: 1rem 3rem;
  justify-content: space-between;
  width: 100%;
}
#procra2 > div {
  padding: 0 1rem;
  width: 15%;
}
.offerdiv {
  color: green;
  border: 1px solid green;
  border-radius: 15px;
  font-size: 15px;
  text-align: center;
}

/* crausal product top */
.h4title {
  margin-left: 1.5rem;
  font-weight: 400;
  margin-top: 1.3rem;
}
#crousalproductTelivision p {
  color: #003380;
  font-size: 20px;
  height: 2.6em;
  line-height: 1.4em;
  margin-right: 20px;
  overflow: hidden;
}
#crousalproductTelivision img {
  width: 100%;
  margin-bottom: 1rem;
}
#crousalproductTelivision img:hover {
  width: 106%;
}
#crousalproductTelivision h6 {
  font-size: 15px;
  margin: 4px;
}
#crousalproductTelivision h5 {
  font-size: 20px;
  font-weight: 700;
  margin: 4px;
}
#proTeli1 {
  display: flex;
  padding: 1rem 3rem;
  justify-content: space-between;
  width: 100%;
}
#proTeli1 > div {
  padding: 0 1rem;
  width: 15%;
}

#proTeli2 {
  display: flex;
  padding: 1rem 3rem;
  justify-content: space-between;
  width: 100%;
}
#proTeli2 > div {
  padding: 0 1rem;
  width: 15%;
}

/* category product images 8 pics 2row */
#categorypics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
#categorypics div {
  width: 24%;
  padding: 1rem;
  margin-top: 2rem;
}
#categorypics img {
  width: 100%;
}

/* iphone crousal banner */

#crousaliphone {
  width: 100%;
}
#crousaliphone img {
  width: 100%;
}

/* brand promise flex*/
.brandpromiseH4 {
  text-align: center;
  color: #003394;
}
.brandpromiseH4 h4 {
  font-size: 25px;
  margin: 9px 0;
}
#promisebrand H5 {
  font-size: 17px;
  color: #003394;
  margin-bottom: 0;
}

#promisebrand p {
  font-size: 17px;
  margin-top: 0;
}
#promisebrand {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}
#promisebrand div {
  width: 24%;
  background-color: #f7f7f7;
  height: 5rem;
  border-radius: 8px;
}
#promisebrand img {
  width: 12%;
  margin-top: 0.3rem;
}

/* monitor carousal flex  & dailyuse*/

#monitor,
#dailyuse {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
#monitorcarousal,
#dailyusecarousal {
  width: 73%;
}

#monitors1,
#monitors2,
#dailyuse1,
#dailyuse2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#monitors1 > div,
#monitors2 > div,
#dailyuse1 > div,
#dailyuse2 > div {
  width: 16%;
}
#monitors1 > div > div,
#monitors2 > div > div,
#dailyuse1 > div > div,
#dailyuse2 > div > div {
  margin-top: 10px;
}
#monitors1 img,
#monitors2 img,
#dailyuse1 img,
#dailyuse2 img {
  width: 100%;
}

#monitorcarousal img,
#dailyusecarousal img {
  width: 100%;
}

#monitorcarousalside,
#dailyusecarousalside {
  width: 24%;
}
#monitorcarousalside img,
#dailyusecarousalside img {
  width: 100%;
}

#monitorcarousal p,
#dailyusecarousal p {
  color: #003380;
  font-size: 17px;
  height: 2.6em;
  line-height: 1.4em;
  margin-right: 20px;
  overflow: hidden;
}

#monitorcarousal img:hover,
#dailyusecarousal img:hover {
  width: 106%;
}
#monitorcarousal h6,
#dailyusecarousal h6 {
  font-size: 15px;
  margin: 2px;
}

#monitorcarousal h5,
#dailyusecarousal h5 {
  font-size: 18px;
  font-weight: 700;
  margin: 4px 0;
}

/* 25% pic of iphone and iphone14 75%  carousal flex */

#iphone14 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
#iphone14carousal {
  width: 73%;
}

#iphone14-1,
#iphone14-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#iphone14-1 > div,
#iphone14-2 > div {
  width: 16%;
}
#iphone14-1 > div > div,
#iphone14-2 > div > div {
  margin-top: 10px;
}
#iphone14-1 img,
#iphone14-2 img {
  width: 100%;
}

#iphone14carousal img {
  width: 100%;
}

#iphone14carousalside {
  width: 24%;
  margin-top: 0.7rem;
}
#iphone14carousalside img {
  width: 100%;
}

#iphone14carousal p {
  color: #003380;
  font-size: 17px;
  height: 2.6em;
  line-height: 1.4em;
  margin-right: 20px;
  overflow: hidden;
}

#iphone14carousal img:hover {
  width: 106%;
}
#iphone14carousal h6 {
  font-size: 15px;
  margin: 2px;
}

#iphone14carousal h5 {
  font-size: 18px;
  font-weight: 700;
  margin: 4px 0;
}
